.btn,
input[type=submit] {
    border-radius: 2px;
    background-color: #fff;
    color: #cc007b;
    border: 0;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 12px 6px 12px;
    
    &:hover {
        background-color: darken(#ecf0f1, 2%);
        color: #cc007b;
    }
    &.big {
        font-weight: bold;
        font-size: 36px;
        line-height: 36px;
        padding: 4px 5px 0px 5px;
        width: 40px;
    }
    &.inverse {
        background: #cc007b;
        color: white;
    }
    &.wide {
        min-width: 200px;
    }
}