.btn,
input[type=submit] {
    border-radius: 2px;
    background-color: #fff;
    color: $pink;
    border: 0;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 12px 6px 12px;
    
    &:hover {
        background-color: darken(#ecf0f1, 2%);
        color: $pink;
    }
    &.big {
        font-weight: bold;
        font-size: 36px;
        line-height: 36px;
        padding: 4px 5px 0px 5px;
        width: 40px;
    }
    &.inverse {
        background: $pink;
        color: white;
    }
    &.wide {
        min-width: 200px;
    }
}

#overlay {
    @include opacity(.75);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    display: none;
    z-index: 2;
}