/* Fonts */

@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/proximanova-regular.eot');
    src: url('../fonts/proximanova-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-regular.woff') format('woff'),
         url('../fonts/proximanova-regular.ttf') format('truetype'),
         url('../fonts/proximanova-regular.svg#ProximaNovaRegular') format('svg');
}
@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/proximanova-thin.eot');
    src: url('../fonts/proximanova-thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-thin.woff') format('woff'),
         url('../fonts/proximanova-thin.ttf') format('truetype'),
         url('../fonts/proximanova-thin.svg#ProximaNovaLight') format('svg');
}
@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/proximanova-semibold.eot');
    src: url('../fonts/proximanova-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-semibold.woff') format('woff'),
         url('../fonts/proximanova-semibold.ttf') format('truetype'),
         url('../fonts/proximanova-semibold.svg#ProximaNovaSemibold') format('svg');
}

/* Basics */

body {
    font-family: 'Proxima Nova', 'Lucida Grande', Arial, sans-serif;
    padding: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: lighten(#cc007b, 5%);
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Proxima Nova', 'Lucida Grande', Arial, sans-serif;
    font-weight: normal;
    line-height: 1;
    margin: 0;
}

h1 {
    font-weight: 800;
    font-size: 36px;
    line-height: 60px;
    text-transform: uppercase;
}

pre {
    border: 0;
    border-radius: 0;
    background-color: #ecf0f1;
    margin: 0;
}

a {
    &:hover {
        color: white;
        text-decoration: none;
    }
}
    
h1,h2,h3,h4,h5,h6,p,ul,ol {
    margin: 0 0 20px;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
}