<div class="footer">
    <div class="container-fluid">
        <div class="pull-right">
            <div class="footer-buttons">
                <% if current_user %>
                    <%= link_to 'Sign out', destroy_user_session_path, :method => :delete, class: 'btn' %>
                <% end %>
            </div>
        </div>
    </div>
</div>