<div class="row">
    <h1>Not a valid image</h1>
    <p>
        Requested: <%= request.referrer %>
        <%= File.extname(request.referrer) %>
    </p>
    <p>
        To use the <%= link_to "Derp It", tools_url %> tool you must select a valid image URL.
    </p>
</div>
