<div class="row">
    <h1>Tools and Widgets</h1>
</div>
<div class="row">
    <div class="panel">
    <h3>Derp It! Button</h3>
    <%= render :partial => 'shared/derp_it_button' %>
    <hr/>
    <p>Drag this link into your bookmarks bar.  When you have an image that you'd like to save in your browser, simply click the link to create a new entry in Derpsum</p> 
    </div>

</div>
