.footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 56px;
    z-index: 1;
    background-color: $pink;
    
    .footer-buttons {
        padding: 12px 12px 6px;
        
        .btn {
            margin-left: 5px;
            font-size: 12px;
        }
    }
    
}