.footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 56px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #cc007b;
    
    .footer-buttons {
        padding: 12px 12px 6px;
        
        .btn {
            margin-left: 5px;
            font-size: 12px;
        }
    }
    
}