.home {
    margin: 100px auto;
    width: 400px;
    text-align: center;
    
    .logo {
        margin-bottom: 20px;
        img {
            border-radius: 60px;
        }
    }
    
    .logotype {
        margin-bottom: 40px;
    }
    
    .error {
        font-size: 24px;
        color: white;
        margin-bottom: 40px;
    }
}